* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #353a40;
  font-size: 24px;
  height: 100vh;
  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
  text-align: center;
  font-weight: bold;
}
nav {
  background: grey;
  grid-row: 1 / span 4;
}
aside {
  background-color: aqua;
}
menu {
  background-color: #862e9c;
  grid-column: 2 / span 4;
  display: flex;
  gap: 12px;
}
button {
  background-color: #e599f7;
  border: none;
  color: #fff;
  height: 30px;
  padding: 5px 10px;
  margin-left: 20px;
  cursor: pointer;
}
button:last-child {
  background-color: rgb(177, 48, 48);
  margin-left: auto;
}
section {
  background-color: rgb(206, 156, 96);
  padding: 40px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.email {
  background: rgb(124, 107, 107);
  height: 96px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  grid-column: 3/4;
}
section,
menu,
aside,
nav,
main {
  padding-top: 24px;
}
